n8n/workflows/fatsecret-oauth-connect.json
{
  "_comment": "FatSecret OAuth Connect | n8n ID: 5W40Z9r0cn5Z5Nyx | Status: INACTIVE (crypto blocked)",
  "_note": "DEPRECATED: n8n Code nodes cannot require('crypto'). Use n8n built-in oAuth1Api credential instead.",
  "name": "FatSecret OAuth Connect",
  "nodes": [
    {
      "id": "webhook-connect",
      "name": "Connect Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [256, 304],
      "parameters": {
        "path": "fatsecret/connect",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "fatsecret-connect"
    },
    {
      "id": "sign-request-token",
      "name": "Sign Request Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [496, 304],
      "parameters": {
        "jsCode": "// NOTE: This node DOES NOT WORK - require('crypto') is blocked in n8n Code nodes.\n// Kept for reference only.\nconst crypto = require('crypto');\n\nconst consumerKey = '${FATSECRET_CLIENT_ID}';\nconst consumerSecret = '${FATSECRET_SHARED_SECRET}';\nconst callbackUrl = '${N8N_HOST}/webhook/fatsecret/callback';\nconst requestTokenUrl = 'https://authentication.fatsecret.com/oauth/request_token';\nconst state = items[0].json.query.state || '';\n\nfunction percentEncode(str) {\n  return encodeURIComponent(String(str)).replace(/[!'()*]/g, c => '%' + c.charCodeAt(0).toString(16).toUpperCase());\n}\n\nconst timestamp = Math.floor(Date.now() / 1000).toString();\nconst nonce = crypto.randomBytes(16).toString('hex');\n\nconst params = {\n  oauth_consumer_key: consumerKey,\n  oauth_signature_method: 'HMAC-SHA1',\n  oauth_timestamp: timestamp,\n  oauth_nonce: nonce,\n  oauth_version: '1.0',\n  oauth_callback: callbackUrl + '?state=' + state\n};\n\nconst sortedKeys = Object.keys(params).sort();\nconst paramString = sortedKeys.map(k => percentEncode(k) + '=' + percentEncode(params[k])).join('&');\nconst baseString = 'POST&' + percentEncode(requestTokenUrl) + '&' + percentEncode(paramString);\nconst signingKey = percentEncode(consumerSecret) + '&';\nconst signature = crypto.createHmac('sha1', signingKey).update(baseString).digest('base64');\n\nparams.oauth_signature = signature;\n\nconst authHeader = 'OAuth ' + Object.keys(params).sort().map(k => percentEncode(k) + '=\"' + percentEncode(params[k]) + '\"').join(', ');\n\nreturn [{ json: { authHeader, requestTokenUrl, state, callbackUrl: callbackUrl + '?state=' + state } }];"
      }
    },
    {
      "id": "get-request-token",
      "name": "Get Request Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [736, 304],
      "parameters": {
        "method": "POST",
        "url": "https://authentication.fatsecret.com/oauth/request_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $json.authHeader }}" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "text" } } }
      }
    },
    {
      "id": "parse-and-store",
      "name": "Parse & Store Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [976, 304],
      "parameters": {
        "jsCode": "const response = items[0].json.data || items[0].json;\nlet body = typeof response === 'string' ? response : '';\nif (!body && items[0].json.body) body = items[0].json.body;\nif (!body) body = JSON.stringify(response);\n\nconst params = {};\nbody.split('&').forEach(pair => {\n  const [key, val] = pair.split('=');\n  params[decodeURIComponent(key)] = decodeURIComponent(val || '');\n});\n\nconst state = $('Connect Webhook').item.json.query.state || '';\nconst authorizeUrl = 'https://authentication.fatsecret.com/oauth/authorize?oauth_token=' + params.oauth_token;\n\nreturn [{ json: {\n  oauth_token: params.oauth_token,\n  oauth_token_secret: params.oauth_token_secret,\n  state,\n  authorizeUrl\n} }];"
      }
    },
    {
      "id": "store-temp-secret",
      "name": "Store Temp Secret",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1216, 304],
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE users SET settings = jsonb_set(COALESCE(settings, '{}'), '{fatsecret_request_token_secret}', '\"{{ $json.oauth_token_secret }}\"'), updated_at = NOW() WHERE telegram_user_id = {{ $json.state }}",
        "options": {}
      },
      "credentials": {
        "postgres": { "id": "YOUR_POSTGRES_CREDENTIAL_ID", "name": "pet_pg_db" }
      }
    },
    {
      "id": "redirect-to-fatsecret",
      "name": "Redirect to FatSecret",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1456, 304],
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $('Parse & Store Token').item.json.authorizeUrl }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Connect Webhook": {
      "main": [[{ "node": "Sign Request Token", "type": "main", "index": 0 }]]
    },
    "Sign Request Token": {
      "main": [[{ "node": "Get Request Token", "type": "main", "index": 0 }]]
    },
    "Get Request Token": {
      "main": [[{ "node": "Parse & Store Token", "type": "main", "index": 0 }]]
    },
    "Parse & Store Token": {
      "main": [[{ "node": "Store Temp Secret", "type": "main", "index": 0 }]]
    },
    "Store Temp Secret": {
      "main": [[{ "node": "Redirect to FatSecret", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
