n8n/workflows/fatsecret-food-search.json
{
  "_comment": "FatSecret Food Search | n8n ID: qTHRcgiqFx9SqTNm | Status: Active",
  "_note": "Webhook: GET /webhook/food/search?q=... | Uses OAuth 2.0 (server-to-server).",
  "name": "FatSecret Food Search",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Food Search Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "GET",
        "path": "food/search",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "food-search"
    },
    {
      "id": "get-token",
      "name": "Get FatSecret Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "parameters": {
        "method": "POST",
        "url": "https://oauth.fatsecret.com/connect/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "grant_type", "value": "client_credentials" },
            { "name": "client_id", "value": "=${FATSECRET_CLIENT_ID}" },
            { "name": "client_secret", "value": "=${FATSECRET_CLIENT_SECRET}" },
            { "name": "scope", "value": "basic" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "search-food",
      "name": "Search Food",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "parameters": {
        "method": "POST",
        "url": "https://platform.fatsecret.com/rest/server.api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.access_token }}" }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "method", "value": "foods.search" },
            { "name": "search_expression", "value": "={{ $('Food Search Webhook').item.json.query.q }}" },
            { "name": "format", "value": "json" },
            { "name": "max_results", "value": "5" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "format-results",
      "name": "Format Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [960, 300],
      "parameters": {
        "jsCode": "const foods = items[0].json.foods?.food || [];\nconst query = $('Food Search Webhook').item.json.query.q;\nconst results = foods.map(f => ({\n  name: f.food_name,\n  brand: f.brand_name || 'Generic',\n  description: f.food_description,\n  food_id: f.food_id\n}));\nreturn [{ json: { query, results_count: results.length, results } }];"
      }
    }
  ],
  "connections": {
    "Food Search Webhook": {
      "main": [[{ "node": "Get FatSecret Token", "type": "main", "index": 0 }]]
    },
    "Get FatSecret Token": {
      "main": [[{ "node": "Search Food", "type": "main", "index": 0 }]]
    },
    "Search Food": {
      "main": [[{ "node": "Format Results", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
