n8n/workflows/fatsecret-oauth-callback.json
{
  "_comment": "FatSecret OAuth Callback | n8n ID: 2kyFWt88FfOt14mw | Status: INACTIVE (crypto blocked)",
  "_note": "DEPRECATED: n8n Code nodes cannot require('crypto'). Use n8n built-in oAuth1Api credential instead.",
  "name": "FatSecret OAuth Callback",
  "nodes": [
    {
      "id": "webhook-callback",
      "name": "Callback Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "GET",
        "path": "fatsecret/callback",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "fatsecret-callback"
    },
    {
      "id": "get-stored-secret",
      "name": "Get Stored Secret",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [490, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, telegram_user_id, settings->>'fatsecret_request_token_secret' as request_secret FROM users WHERE telegram_user_id = {{ $json.query.state }}",
        "options": {}
      },
      "credentials": {
        "postgres": { "id": "YOUR_POSTGRES_CREDENTIAL_ID", "name": "pet_pg_db" }
      }
    },
    {
      "id": "sign-access-token",
      "name": "Sign Access Token Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [730, 300],
      "parameters": {
        "jsCode": "// NOTE: This node DOES NOT WORK - require('crypto') is blocked in n8n Code nodes.\n// Kept for reference only.\nconst crypto = require('crypto');\n\nconst consumerKey = '${FATSECRET_CLIENT_ID}';\nconst consumerSecret = '${FATSECRET_CLIENT_SECRET}';\nconst accessTokenUrl = 'https://authentication.fatsecret.com/oauth/access_token';\n\nconst oauthToken = $('Callback Webhook').item.json.query.oauth_token;\nconst oauthVerifier = $('Callback Webhook').item.json.query.oauth_verifier;\nconst tokenSecret = items[0].json.request_secret || '';\nconst userId = items[0].json.id;\nconst telegramUserId = items[0].json.telegram_user_id;\n\nfunction percentEncode(str) {\n  return encodeURIComponent(String(str)).replace(/[!'()*]/g, c => '%' + c.charCodeAt(0).toString(16).toUpperCase());\n}\n\nconst timestamp = Math.floor(Date.now() / 1000).toString();\nconst nonce = crypto.randomBytes(16).toString('hex');\n\nconst params = {\n  oauth_consumer_key: consumerKey,\n  oauth_token: oauthToken,\n  oauth_signature_method: 'HMAC-SHA1',\n  oauth_timestamp: timestamp,\n  oauth_nonce: nonce,\n  oauth_version: '1.0',\n  oauth_verifier: oauthVerifier\n};\n\nconst sortedKeys = Object.keys(params).sort();\nconst paramString = sortedKeys.map(k => percentEncode(k) + '=' + percentEncode(params[k])).join('&');\nconst baseString = 'POST&' + percentEncode(accessTokenUrl) + '&' + percentEncode(paramString);\nconst signingKey = percentEncode(consumerSecret) + '&' + percentEncode(tokenSecret);\nconst signature = crypto.createHmac('sha1', signingKey).update(baseString).digest('base64');\n\nparams.oauth_signature = signature;\n\nconst authHeader = 'OAuth ' + Object.keys(params).sort().map(k => percentEncode(k) + '=\"' + percentEncode(params[k]) + '\"').join(', ');\n\nreturn [{ json: { authHeader, accessTokenUrl, userId, telegramUserId } }];"
      }
    },
    {
      "id": "get-access-token",
      "name": "Get Access Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [970, 300],
      "parameters": {
        "method": "POST",
        "url": "https://authentication.fatsecret.com/oauth/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $json.authHeader }}" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "text" } } }
      }
    },
    {
      "id": "parse-and-store-access",
      "name": "Parse & Store Access Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1210, 300],
      "parameters": {
        "jsCode": "const response = items[0].json.data || items[0].json;\nlet body = typeof response === 'string' ? response : '';\nif (!body && items[0].json.body) body = items[0].json.body;\nif (!body) body = JSON.stringify(response);\n\nconst params = {};\nbody.split('&').forEach(pair => {\n  const [key, val] = pair.split('=');\n  params[decodeURIComponent(key)] = decodeURIComponent(val || '');\n});\n\nconst userId = $('Sign Access Token Request').item.json.userId;\n\nreturn [{ json: {\n  access_token: params.oauth_token,\n  access_secret: params.oauth_token_secret,\n  userId\n} }];"
      }
    },
    {
      "id": "store-access-token",
      "name": "Store Access Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1450, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE users SET fatsecret_access_token = '{{ $json.access_token }}', fatsecret_access_secret = '{{ $json.access_secret }}', settings = settings - 'fatsecret_request_token_secret', updated_at = NOW() WHERE id = {{ $json.userId }}",
        "options": {}
      },
      "credentials": {
        "postgres": { "id": "YOUR_POSTGRES_CREDENTIAL_ID", "name": "pet_pg_db" }
      }
    },
    {
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1690, 300],
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><title>FatSecret Connected</title><style>*{margin:0;padding:0;box-sizing:border-box}body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;background:#0a0a0a;color:#e4e4e7;display:flex;align-items:center;justify-content:center;min-height:100vh;padding:20px}.card{background:#1a1a1a;border:1px solid rgba(255,255,255,0.05);border-radius:16px;padding:48px;text-align:center;max-width:400px}.icon{width:64px;height:64px;background:rgba(16,185,129,0.1);border-radius:16px;display:flex;align-items:center;justify-content:center;margin:0 auto 24px}h1{font-size:24px;font-weight:700;margin-bottom:8px}p{color:#a1a1aa;line-height:1.6;margin-bottom:24px}.btn{display:inline-block;background:#10B981;color:#000;font-weight:600;padding:12px 32px;border-radius:12px;text-decoration:none}</style></head><body><div class=\"card\"><div class=\"icon\"><svg width=\"32\" height=\"32\" fill=\"none\" viewBox=\"0 0 24 24\" stroke=\"#10B981\" stroke-width=\"2\"><path stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M5 13l4 4L19 7\"/></svg></div><h1>FatSecret Connected!</h1><p>Your FatSecret account has been linked. Your food diary will now sync automatically.</p></div></body></html>",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/html; charset=utf-8" }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Callback Webhook": {
      "main": [[{ "node": "Get Stored Secret", "type": "main", "index": 0 }]]
    },
    "Get Stored Secret": {
      "main": [[{ "node": "Sign Access Token Request", "type": "main", "index": 0 }]]
    },
    "Sign Access Token Request": {
      "main": [[{ "node": "Get Access Token", "type": "main", "index": 0 }]]
    },
    "Get Access Token": {
      "main": [[{ "node": "Parse & Store Access Token", "type": "main", "index": 0 }]]
    },
    "Parse & Store Access Token": {
      "main": [[{ "node": "Store Access Token", "type": "main", "index": 0 }]]
    },
    "Store Access Token": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
