n8n/workflows/whoop-oauth-callback.json
{
  "_comment": "WHOOP OAuth Callback | n8n ID: sWOs9ycgABYKCQ8g | Status: Active",
  "_note": "Sensitive values use $env references. Deploy via n8n environment variables.",
  "name": "WHOOP OAuth Callback",
  "nodes": [
    {
      "id": "webhook-whoop-callback",
      "name": "WHOOP OAuth Callback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [256, 304],
      "parameters": {
        "path": "whoop/callback",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "whoop-oauth-callback",
      "onError": "continueRegularOutput"
    },
    {
      "id": "validate-params",
      "name": "Validate Params",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [480, 304],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "validate-code",
              "leftValue": "={{ $json.query.code }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "exchange-code",
      "name": "Exchange Code for Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 224],
      "parameters": {
        "method": "POST",
        "url": "https://api.prod.whoop.com/oauth/oauth2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "grant_type", "value": "authorization_code" },
            { "name": "code", "value": "={{ $('WHOOP OAuth Callback').item.json.query.code }}" },
            { "name": "client_id", "value": "={{ $env.WHOOP_CLIENT_ID }}" },
            { "name": "client_secret", "value": "={{ $env.WHOOP_CLIENT_SECRET }}" },
            { "name": "redirect_uri", "value": "={{ $env.WHOOP_REDIRECT_URI }}" }
          ]
        },
        "options": { "response": { "response": {} } }
      }
    },
    {
      "id": "fetch-recovery",
      "name": "Fetch Recovery for User ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 224],
      "parameters": {
        "method": "GET",
        "url": "https://api.prod.whoop.com/developer/v2/recovery",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.access_token }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "limit", "value": "1" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "store-tokens",
      "name": "Store Tokens in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1200, 224],
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE users SET whoop_access_token = '{{ $('Exchange Code for Token').item.json.access_token }}', whoop_refresh_token = '{{ $('Exchange Code for Token').item.json.refresh_token }}', whoop_token_expires_at = NOW() + INTERVAL '{{ $('Exchange Code for Token').item.json.expires_in }} seconds', whoop_user_id = '{{ $json.records[0].user_id }}', updated_at = NOW() WHERE telegram_user_id = {{ $('WHOOP OAuth Callback').item.json.query.state }}",
        "options": {}
      },
      "credentials": {
        "postgres": { "id": "YOUR_POSTGRES_CREDENTIAL_ID", "name": "pet_pg_db" }
      }
    },
    {
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1440, 224],
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><title>WHOOP Connected</title><style>*{margin:0;padding:0;box-sizing:border-box}body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;background:#0a0a0a;color:#e4e4e7;display:flex;align-items:center;justify-content:center;min-height:100vh;padding:20px}.card{background:#1a1a1a;border:1px solid rgba(255,255,255,0.05);border-radius:16px;padding:48px;text-align:center;max-width:400px}.icon{width:64px;height:64px;background:rgba(16,185,129,0.1);border-radius:16px;display:flex;align-items:center;justify-content:center;margin:0 auto 24px}h1{font-size:24px;font-weight:700;margin-bottom:8px}p{color:#a1a1aa;line-height:1.6;margin-bottom:24px}.btn{display:inline-block;background:#10B981;color:#000;font-weight:600;padding:12px 32px;border-radius:12px;text-decoration:none}</style></head><body><div class=\"card\"><div class=\"icon\"><svg width=\"32\" height=\"32\" fill=\"none\" viewBox=\"0 0 24 24\" stroke=\"#10B981\" stroke-width=\"2\"><path stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M5 13l4 4L19 7\"/></svg></div><h1>WHOOP Connected!</h1><p>Your WHOOP account has been successfully linked to Health Tracker. You can close this window and return to Telegram.</p><a href=\"https://t.me/your_bot\" class=\"btn\">Back to Telegram</a></div></body></html>",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/html; charset=utf-8" }
            ]
          }
        }
      }
    },
    {
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [720, 432],
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><title>Authorization Failed</title><style>*{margin:0;padding:0;box-sizing:border-box}body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;background:#0a0a0a;color:#e4e4e7;display:flex;align-items:center;justify-content:center;min-height:100vh;padding:20px}.card{background:#1a1a1a;border:1px solid rgba(255,255,255,0.05);border-radius:16px;padding:48px;text-align:center;max-width:400px}.icon{width:64px;height:64px;background:rgba(244,63,94,0.1);border-radius:16px;display:flex;align-items:center;justify-content:center;margin:0 auto 24px}h1{font-size:24px;font-weight:700;margin-bottom:8px}p{color:#a1a1aa;line-height:1.6;margin-bottom:24px}.btn{display:inline-block;background:#10B981;color:#000;font-weight:600;padding:12px 32px;border-radius:12px;text-decoration:none}</style></head><body><div class=\"card\"><div class=\"icon\"><svg width=\"32\" height=\"32\" fill=\"none\" viewBox=\"0 0 24 24\" stroke=\"#F43F5E\" stroke-width=\"2\"><path stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M6 18L18 6M6 6l12 12\"/></svg></div><h1>Authorization Failed</h1><p>Something went wrong during the WHOOP authorization. Please try again from the Telegram bot.</p><a href=\"https://t.me/your_bot\" class=\"btn\">Back to Telegram</a></div></body></html>",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/html; charset=utf-8" }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "WHOOP OAuth Callback": {
      "main": [[{ "node": "Validate Params", "type": "main", "index": 0 }]]
    },
    "Validate Params": {
      "main": [
        [{ "node": "Exchange Code for Token", "type": "main", "index": 0 }],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "Exchange Code for Token": {
      "main": [[{ "node": "Fetch Recovery for User ID", "type": "main", "index": 0 }]]
    },
    "Fetch Recovery for User ID": {
      "main": [[{ "node": "Store Tokens in DB", "type": "main", "index": 0 }]]
    },
    "Store Tokens in DB": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
