n8n/workflows/whoop-oauth-callback.json
{
  "name": "WHOOP OAuth Callback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "whoop/callback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-whoop-callback",
      "name": "WHOOP OAuth Callback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "whoop-oauth-callback"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validate-code",
              "leftValue": "={{ $json.query.code }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-params",
      "name": "Validate Params",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.prod.whoop.com/oauth/oauth2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "authorization_code"
            },
            {
              "name": "code",
              "value": "={{ $('WHOOP OAuth Callback').item.json.query.code }}"
            },
            {
              "name": "client_id",
              "value": "={{ $env.WHOOP_CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $env.WHOOP_CLIENT_SECRET }}"
            },
            {
              "name": "redirect_uri",
              "value": "={{ $env.WHOOP_REDIRECT_URI }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "exchange-code",
      "name": "Exchange Code for Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 220]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.prod.whoop.com/developer/v1/user/profile/basic",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-profile",
      "name": "Fetch WHOOP Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 220]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET whoop_access_token = '{{ $('Exchange Code for Token').item.json.access_token }}', whoop_refresh_token = '{{ $('Exchange Code for Token').item.json.refresh_token }}', whoop_token_expires_at = NOW() + INTERVAL '{{ $('Exchange Code for Token').item.json.expires_in }} seconds', whoop_user_id = '{{ $json.user_id }}', updated_at = NOW() WHERE whoop_user_id = '{{ $json.user_id }}' OR telegram_id = {{ $('WHOOP OAuth Callback').item.json.query.state }}",
        "options": {}
      },
      "id": "store-tokens",
      "name": "Store Tokens in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1200, 220],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "PostgreSQL - HealthLog"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><title>WHOOP Connected</title><style>*{margin:0;padding:0;box-sizing:border-box}body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;background:#0a0a0a;color:#e4e4e7;display:flex;align-items:center;justify-content:center;min-height:100vh;padding:20px}.card{background:#1a1a1a;border:1px solid rgba(255,255,255,0.05);border-radius:16px;padding:48px;text-align:center;max-width:400px}.icon{width:64px;height:64px;background:rgba(16,185,129,0.1);border-radius:16px;display:flex;align-items:center;justify-content:center;margin:0 auto 24px}h1{font-size:24px;font-weight:700;margin-bottom:8px}p{color:#a1a1aa;line-height:1.6;margin-bottom:24px}.btn{display:inline-block;background:#10B981;color:#000;font-weight:600;padding:12px 32px;border-radius:12px;text-decoration:none}</style></head><body><div class=\"card\"><div class=\"icon\"><svg width=\"32\" height=\"32\" fill=\"none\" viewBox=\"0 0 24 24\" stroke=\"#10B981\" stroke-width=\"2\"><path stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M5 13l4 4L19 7\"/></svg></div><h1>WHOOP Connected!</h1><p>Your WHOOP account has been successfully linked to Health Tracker. You can close this window and return to Telegram.</p><a href=\"https://t.me/your_bot\" class=\"btn\">Back to Telegram</a></div></body></html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, 220]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><title>Authorization Failed</title><style>*{margin:0;padding:0;box-sizing:border-box}body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;background:#0a0a0a;color:#e4e4e7;display:flex;align-items:center;justify-content:center;min-height:100vh;padding:20px}.card{background:#1a1a1a;border:1px solid rgba(255,255,255,0.05);border-radius:16px;padding:48px;text-align:center;max-width:400px}.icon{width:64px;height:64px;background:rgba(244,63,94,0.1);border-radius:16px;display:flex;align-items:center;justify-content:center;margin:0 auto 24px}h1{font-size:24px;font-weight:700;margin-bottom:8px}p{color:#a1a1aa;line-height:1.6;margin-bottom:24px}.btn{display:inline-block;background:#10B981;color:#000;font-weight:600;padding:12px 32px;border-radius:12px;text-decoration:none}</style></head><body><div class=\"card\"><div class=\"icon\"><svg width=\"32\" height=\"32\" fill=\"none\" viewBox=\"0 0 24 24\" stroke=\"#F43F5E\" stroke-width=\"2\"><path stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M6 18L18 6M6 6l12 12\"/></svg></div><h1>Authorization Failed</h1><p>Something went wrong during the WHOOP authorization. Please try again from the Telegram bot.</p><a href=\"https://t.me/your_bot\" class=\"btn\">Back to Telegram</a></div></body></html>",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 420]
    }
  ],
  "connections": {
    "WHOOP OAuth Callback": {
      "main": [
        [
          {
            "node": "Validate Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Params": {
      "main": [
        [
          {
            "node": "Exchange Code for Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exchange Code for Token": {
      "main": [
        [
          {
            "node": "Fetch WHOOP Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch WHOOP Profile": {
      "main": [
        [
          {
            "node": "Store Tokens in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Tokens in DB": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "whoop",
      "id": "1"
    },
    {
      "name": "oauth",
      "id": "2"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
